
body {
    -webkit-overflow-scrolling: touch;
    color: palette('foreground');
    margin: 0rem;
    div.mainlanding > header, footer.main {
      // @include linear-gradient(to bottom right,  palette-color-level('secondary', -5) 0%,palette-color-level('secondary', -2) 75%, palette-color-level('secondary', -5) 100%);
      color: black;
      
    }
    color: black;
  }

 
 