.my-card {
    align-items: center;
    height: 350px;
    width: 350px;
    color: palette('red');
 }
 .login{
    width: max-content;
    align-items: center;
    margin-right:auto;
    margin-left: auto;
 }
 .login h3{
    font-family: Arial, Helvetica, sans-serif; 
}
